* {
  box-sizing: border-box;
}
​
body {
  height:100%;
  width:100%;
  padding:0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: white;
  background-color: white;
}
​
header {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
background-color: white;
}
.logo {
padding: 30px;
}
​
a {
text-decoration: none;
color: goldenrod;

}
​
​
input {
outline: none;
border: none;
}
​
.navbar {
display: flex;
justify-content: flex-end;
align-items: center;
box-shadow:dark blue(0, 0, 0, 0.2) 5px 10px 30px;
position: absolute;
left: 0px;
top: 0px;
width: 100%;
z-index: 1;
list-style: none;
}
.navbar a {
font-family: sans-serif, Arial, Helvetica;
height: 40px;
line-height: 60px;
margin: 15px;
padding: 0px 20px;
font-size: 0.7rem;
text-transform: uppercase;
font-weight: bolder;
color: brown;
font-size: x-large;
letter-spacing: 1px;
transition: 0.6s ease;

}
.navbar a:hover {
border-bottom: 1px solid brown;
box-shadow: 5px 10px 30px goldenrod;
}

  /* HERO   */

.hero {
display: flex;
height: 600px;
width: 100%;
background-size: auto;
background-position: center;
background-image: url("/images/background.jpg");

}
.hero h1 {
font-size: 24px;
margin: 60px;
margin-top: 30px;
color: goldenrod
}
.hero h2 {
font-size: 84px;
margin: 60px;
color: goldenrod
}
.hero h2 span {
color: goldenrod;
}
.hero p {
color: white;
font-size: 24px;
margin-left: 60px;
font-style: bold;
}
.hero div {
flex: 0 0 45%;
}
.hero img {
flex: 0 0 45%;
transform: translate(40%, -10%);
} 
​
.hero-image {

background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url;

background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
​
#about,
.section-area {
  display: block;
  height: 100%;
  width: 100%;
  padding: 90px;
}
​
​
#about,
.section-area p {
margin-right: 30px;
color: goldenrod;
height: 100%;
width: 100%;
}


.section-area h3,
.review-page h2
{
font-size: 2rem;
display: block;
text-align: center;
color: brown;

}
#login, 
#profile,
#reviews {
margin: 8px -16px;
  height: 100%;
  width: 100%;
  padding: 100px;
}



​
.row.column {
padding: 8px;
}
​
.column {
float: left;
width: 25%;
}
​
.row:after {
content: "";
display: table;
clear: both;
}
​
input[type=text],
select,
textarea {
width: 100%;
padding: 12px;
border: 1px solid #ccc;
margin-top: 6px;
margin-bottom: 16px;
resize: vertical;
}
input[type=submit] {

color: #191919;
padding: 12px 20px;
border: none;
cursor: pointer;
}
input[type=submit] {
border-bottom: 1px solid brown;

}
​
.contact-container {
border-radius: 5px;
padding: 10px;
}
.contact-container p {
text-align: left;
}
​
.contact-column {
float: left;
width: 50%;
margin-top: 6px;
padding: 20px;
}
​
.col-md-7 p {
color: black;
}
​
​
​
​// FOOTER

.site-footer
{
  padding:45px 0 10px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  position: absolute;;
  bottom: 0;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}

.copyright-text {
  color: goldenrod
}
.site-footer a,
{
  color: brown;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:brown
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:brown;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color: brown;
  color: white;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:brown
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
